<!DOCTYPE html>
<html>
  <head>
    <title>Simple News App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Simple News App</h1>
    </div>

    <div class="navbar">
      <%= link_to('Home', root_path) %>
      <%= link_to('Articles', articles_path) %>
      <%= render 'devise/menu/login_items' %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
